/* App.css */

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    #db34a9,
    #cc2eb2
  ); /* Gradient background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  border-radius: 10px; /* Rounded corners */
  position: relative;
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
  pointer-events: none; /* Allow clicking through the pattern layer */
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  position: relative; /* Ensure the .container::before pseudo-element is positioned correctly */
}

/* Estilos para la navbar */
nav {
  width: 100%;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px; /* Espacio entre los elementos */
}

nav a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
}

nav a:hover {
  background-color: #575757;
  border-radius: 4px;
}

/* Otros estilos existentes */
.header {
  padding-top: 60px; /* Espacio para la navbar fija */
}

.adm {
  color: white;
  padding: 3rem 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Estilos para el contenido principal */
.main-content {
  margin-top: 20px;
}

.welcome {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.welcome-text {
  flex: 1;
}

.welcome-image {
  width: 200px;
  height: 150px;
  background-color: #000;
  margin-left: 20px;
  border-radius: 8px;
}

.welcome h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

.welcome p {
  font-size: 18px;
  color: #555;
}

.features {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.features h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

.features ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features li {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* Estilos para el componente QuienesSomos */
.quienes-somos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #f9f9f9; /* Color de fondo suave */
}

.quienes-somos-welcome-text {
  max-width: 600px;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; /* Fondo blanco para el texto */
}

.quienes-somos-welcome-text h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333333; /* Color de texto oscuro */
}

.quienes-somos-welcome-text p {
  font-size: 1rem;
  color: #666666; /* Color de texto más claro */
  line-height: 1.6;
}
