/* Estilo general para el contenedor principal */
.container {
    display: flex;
    justify-content: center;
    width:100%;
    margin: 30px;
    align-items: center;
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos el alto de la ventana */
    padding: 20px;
  }
  
  /* Estilo para el contenido dentro del contenedor */
  .contenido {
    max-width: 800px;
    width: 100%;
    background-color: #ffffff; /* Fondo blanco para el área de contenido */
    border-radius: 8px; /* Bordes redondeados para un diseño más suave */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para darle profundidad */
    padding: 20px;
    box-sizing: border-box; /* Incluye padding y border en el cálculo del width */
  }
  
  /* Estilo para el formulario */
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  /* Estilo para los inputs del formulario */
  input[type="text"], input[type="date"], input[type="number"], input[type="time"], textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Estilo para el botón de enviar del formulario */
  button {
    padding: 10px 20px;
    margin-left:10px;
    background-color: #ff0000; /* Color de fondo azul */
    color: #ffffff; /* Texto blanco */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #b30000; /* Color de fondo azul oscuro en hover */
  }
  
  .ag{
    padding: 10px 20px;
    margin-left:10px;
    background-color: #a200ff; /* Color de fondo azul */
    color: #ffffff; /* Texto blanco */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  /* Estilo para la lista de citas */
  .listado {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Estilo para cada elemento de la lista */
  .listado li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Estilo para el botón de eliminar en la lista */
  .listado button.eliminar {
    background-color: #dc3545; /* Color de fondo rojo */
    border: none;
    color: #ffffff; /* Texto blanco */
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .listado button.eliminar:hover {
    background-color: #c82333; /* Color de fondo rojo oscuro en hover */
  }
  