/* style.css */

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;

}

h2 {
  font-size: 2rem;
  color: #333333;
  margin-bottom: 20px;
}

p {
  font-size: 1.125rem;
  color: #666666;
  line-height: 1.6;
  margin: 0;
}

.containerQ{
  background-color: white;
  padding:30px;
  border-radius: 16px;
}
