/* Estilos para el contenedor */
.container {
    width: 100%;
    height: 100%; /* Usa 100vh para asegurar que el contenedor ocupa toda la altura de la ventana */
    margin: 0; /* Elimina el margen por defecto para asegurar que ocupa toda la página */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    --s: 60px;
    --c1: #180a22;
    --c2: #5b42f3;
    --_g: radial-gradient(
      25% 25% at 25% 25%,
      var(--c1) 99%,
      rgba(0, 0, 0, 0) 101%
    );
    background: var(--_g) var(--s) var(--s) / calc(2 * var(--s))
        calc(2 * var(--s)),
      var(--_g) 0 0 / calc(2 * var(--s)) calc(2 * var(--s)),
      radial-gradient(50% 50%, var(--c2) 98%, rgba(0, 0, 0, 0)) 0 0 / var(--s)
        var(--s),
      repeating-conic-gradient(var(--c2) 0 50%, var(--c1) 0 100%)
        calc(0.5 * var(--s)) 0 / calc(2 * var(--s)) var(--s);
}

/* Estilos para el formulario */
.container form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* Estilo del título */
.container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Estilo de los campos del formulario */
.container input,
.container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.container textarea {
    resize: vertical; /* Permite cambiar el tamaño verticalmente */
}

/* Estilo del botón de enviar */
.container button {
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 10px; /* Añadido margen superior para separar del resto de los campos */
    align-self: center; /* Centra el botón dentro del formulario */
}

.container button:hover {
    background-color: #357abd;
    transform: scale(1.05);
}

.container button:focus {
    outline: none;
}

/* Estilo para el contenido de texto */
.container h2,
.container p {
    background-color: #ffffff; /* Fondo blanco para el texto */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 20px; /* Espacio alrededor del texto */
    margin: 20px; /* Margen alrededor del bloque */
    max-width: 600px; /* Ancho máximo del bloque */
    width: 100%; /* Ancho completo del contenedor padre */
    color: #333; /* Color del texto */
    text-align: center; /* Centra el texto dentro del bloque */
}

/* Si deseas aplicar el estilo a todos los textos dentro del contenedor */
.container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.container p {
    color: #555;
    margin: 5px 0;
}
